<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>Yarner</title>
    </head>

    <body>
        <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
               <a href="index.html">YARNER</a>  
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Belting Catagories</h3>
            <button class="sidebar-close-button" onClick="closeMenu()">x</button>
            <ul>
                <li>
                    <a href="index.html">Wrap Construciton Belts</a>
                </li>

                <li>
                    <a href="index.html">Banded Belts</a>
                </li>

                <li>
                    <a href="index.html">Special Construciton Belts</a>
                </li>

            </ul>
        </aside>
        <main class="main">
            <div class="content">
            <ul class="products">
                <li>
                    <div class="product">
                        <img class="product-image"src="Images/TB-1.jpg" alt="product">
                        <div class="product-name">
                        <a href="product.html">Rubber Timing Belts</a>
                        </div>
                        <div class="product-brand">Nitta</div>
                        <div class="product-price">Rs. 300</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img class="product-image"src="Images/TB-1.jpg" alt="product">
                        <div class="product-name">
                        <a href="product.html">Rubber Timing Belts</a>
                        </div>
                        <div class="product-brand">Nitta</div>
                        <div class="product-price">Rs. 300</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img class="product-image"src="Images/TB-1.jpg" alt="product">
                        <div class="product-name">
                        <a href="product.html">Rubber Timing Belts</a>
                        </div>
                        <div class="product-brand">Nitta</div>
                        <div class="product-price">Rs. 300</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img class="product-image"src="Images/TB-1.jpg" alt="product">
                        <div class="product-name">
                        <a href="product.html">Rubber Timing Belts</a>
                        </div>
                        <div class="product-brand">Nitta</div>
                        <div class="product-price">Rs. 300</div>
                    </div>
                </li>
                <li>
                    <div class="product">
                        <img class="product-image"src="Images/TB-1.jpg" alt="product">
                        <div class="product-name">
                        <a href="product.html">Rubber Timing Belts</a>
                        </div>
                        <div class="product-brand">Nitta</div>
                        <div class="product-price">Rs. 300</div>
                    </div>
                </li>
            </ul>
    
        
        </main>
        <footer class="footer">
            All rights reserved
        </footer>
        </div>
        <script>
            function openMenu(){
                document.querySelector(".sidebar").classList.add("open");
            }
            function closeMenu(){
                document.querySelector(".sidebar").classList.remove("open");
            }

        </script>
    </body>

</html>
